[mysqld]
server-id = 1

# 启用二进制日志功能
log_bin = mysql-bin
# 指定错误日志文件的路径
log_error = "/var/log/mysql/error.log"
# 指定二进制日志中记录的内容限制为行级别的更改
binlog_format = ROW

# 指定将告警信息写入错误日志 1:只记录错误信息 2:记录错误和警告信息 3:记录所有错误和警告信息 默认:3
log_error_verbosity = 1

# 指定数据文件的存储路径
datadir="/var/lib/mysql"

# 启用慢查询日志
slow_query_log = 1
# 指定查询执行时间超过多少秒才被记录到慢查询日志中（例如1表示超过1秒的查询）
long_query_time = 1
# 慢查询日志的输出方式为写入文件
log_output = FILE
# 指定慢查询日志文件的保存路径
slow_query_log_file = /var/log/mysql/slow-query.log

# 启用全局查询日志
general_log = 1
# 全局查询日志保存路径
general_log_file = /var/log/mysql/general-query.log